[package]
name = "kopium"
description = "kubernetes openapi unmangler"
version = "0.17.2"
edition = "2021"
authors = [
    "clux <sszynrae@gmail.com>",
]
license = "Apache-2.0"
readme = "./README.md"
repository = "https://github.com/kube-rs/kopium"
keywords = ["kubernetes", "openapi"]
categories = ["command-line-utilities", "parsing"]

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/{ version }/kopium-{ target }{ archive-suffix }"
bin-dir = "kopium-{ target }/{ bin }{ format }"

[[bin]]
doc = false
name = "kopium"
path = "src/main.rs"

[lib]
name = "kopium"
path = "src/lib.rs"

[dependencies]
tokio = { version = "1.36.0", features = ["full"] }
anyhow = "1.0.80"
log = "0.4.21"
env_logger = "0.11.3"
serde_json = "1.0.114"
clap = { version = "4.5", features = ["cargo", "derive"] }
clap_complete = "4.5"
quote = "1.0.35"
serde = { version = "1.0.197", features = ["derive"] }
serde_yaml = "0.9.32"
heck = "0.4.1"
syn = "2.0.52"
libc = "0.2.153"

[dependencies.k8s-openapi]
version = "0.21.1"
features = ["latest"]

[dependencies.kube]
version = "0.88.1"
features = ["derive"]

[dev-dependencies]
schemars = "0.8.16"
typed-builder = "0.18.1"

[dev-dependencies.k8s-openapi]
version = "0.21.1"
features = ["latest", "schemars"]
