[package]
name = "kopium"
description = "kubernetes openapi unmangler"
version = "0.15.0"
edition = "2021"
authors = [
    "clux <sszynrae@gmail.com>",
]
license = "Apache-2.0"
readme = "./README.md"
repository = "https://github.com/kube-rs/kopium"
keywords = ["kubernetes", "openapi"]
categories = ["command-line-utilities", "parsing"]

[[bin]]
doc = false
name = "kopium"
path = "src/main.rs"

[lib]
name = "kopium"
path = "src/lib.rs"

[dependencies]
k8s-openapi = { version = "0.19.0", features = ["latest"] }
tokio = { version = "1.25.1", features = ["full"] }
anyhow = "1.0.75"
log = "0.4.17"
env_logger = "0.10.0"
serde_json = "1.0.105"
clap = { version = "4.4", features = ["cargo", "derive"] }
clap_complete = "4.4"
quote = "1.0.33"
serde = { version = "1.0.186", features = ["derive"] }
serde_yaml = "0.9.25"
heck = "0.4.1"
syn = "2.0.31"

[dependencies.kube]
version = "0.85.0"
features = ["derive"]

[dev-dependencies]
schemars = "0.8.13"
typed-builder = "0.16.0"
