[package]
name = "kopium"
description = "kubernetes openapi unmangler"
version = "0.16.3"
edition = "2021"
authors = [
    "clux <sszynrae@gmail.com>",
]
license = "Apache-2.0"
readme = "./README.md"
repository = "https://github.com/kube-rs/kopium"
keywords = ["kubernetes", "openapi"]
categories = ["command-line-utilities", "parsing"]

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/{ version }/kopium-{ target }{ archive-suffix }"
bin-dir = "kopium-{ target }/{ bin }{ format }"

[[bin]]
doc = false
name = "kopium"
path = "src/main.rs"

[lib]
name = "kopium"
path = "src/lib.rs"

[dependencies]
k8s-openapi = { version = "0.20.0", features = ["latest"] }
tokio = { version = "1.26.0", features = ["full"] }
anyhow = "1.0.79"
log = "0.4.17"
env_logger = "0.10.1"
serde_json = "1.0.109"
clap = { version = "4.4", features = ["cargo", "derive"] }
clap_complete = "4.4"
quote = "1.0.35"
serde = { version = "1.0.195", features = ["derive"] }
serde_yaml = "0.9.30"
heck = "0.4.1"
syn = "2.0.45"
libc = "0.2.152"

[dependencies.kube]
version = "0.87.2"
features = ["derive"]

[dev-dependencies]
schemars = "0.8.16"
typed-builder = "0.18.0"
