[package]
name = "kopium"
description = "kubernetes openapi unmangler"
version = "0.20.1"
edition = "2021"
authors = [
    "clux <sszynrae@gmail.com>",
]
license = "Apache-2.0"
readme = "./README.md"
repository = "https://github.com/kube-rs/kopium"
keywords = ["kubernetes", "openapi"]
categories = ["command-line-utilities", "parsing"]

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/{ version }/kopium-{ target }{ archive-suffix }"
bin-dir = "kopium-{ target }/{ bin }{ format }"

[[bin]]
doc = false
name = "kopium"
path = "src/main.rs"

[lib]
name = "kopium"
path = "src/lib.rs"

[dependencies]
tokio = { version = "1.38.0", features = ["full"] }
anyhow = "1.0.86"
log = "0.4.21"
env_logger = "0.11.3"
serde_json = "1.0.117"
clap = { version = "4.5", features = ["cargo", "derive"] }
clap_complete = "4.5"
quote = "1.0.36"
serde = { version = "1.0.203", features = ["derive"] }
serde_yaml = "0.9.34"
heck = "0.5.0"
syn = "2.0.66"
libc = "0.2.155"

[dependencies.k8s-openapi]
version = "0.22.0"
features = ["latest"]

[dependencies.kube]
version = "0.92.1"
features = ["derive"]

[dev-dependencies]
schemars = "0.8.21"
typed-builder = "0.18.2"

[dev-dependencies.k8s-openapi]
version = "0.22.0"
features = ["latest", "schemars"]
