name: CI
on:
  pull_request:

jobs:
  cargo-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v1
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: AbsaOSS/k3d-action@v2
        with:
          cluster-name: "kube"
          args: --agents 1 --no-lb
      # unit tests
      - run: cargo test --lib
      # integration tests
      - run: cargo build --bin kopium
      # Test reasonably complicated CRDs; promethesurules and servicemonitors
      - run: just test-pr
      - run: just test-sm
      # Cilium with a non/spec-status model
      - run: just test-cilium-netpol
      # Test a fake CRD with multiple versions
      - run: just test-mv
      # Test argocd Application
      - run: just test-argo
      # Test openshift agent crd
      - run: just test-agent
      # Test around documentation in cert-manager certificates
      - run: just test-certmanager
      # Test some linkerd crds
      - run: just test-linkerd-serverauth
      - run: just test-linkerd-server


  rustfmt:
    name: Run rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - name: Run rustfmt
        id: rustfmt
        run: rustfmt +nightly --edition 2018 --check $(find . -type f -iname *.rs)


  clippy:
    name: Run clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features
